<body>
  
<div class="container">
    <div class="calculator-form">
      <h1 class="title">Interest Rate Calculator</h1>
      <form #IRCForm="ngForm" (ngSubmit)="calculate(IRCForm)">
        

        
          
        <div class="input-field">
          <label for="loanAmount"></label>
           <h4>Loan Amount:<input type="number" placeholder="in Rs" class="form-control" name="loanAmount" ngModel required></h4>
        </div>
    
        <div class="input-field">
          <label for="tenureInYears"></label> 
         <h4>Tenure:<input type="number" placeholder="in years" class="form-control" name="tenureInYears" ngModel required></h4> 
  
      </div>
     


     
          <div class="input-field">
            <label for="creditScore"></label>
             <h4>Credit Score:<input type="number" placeholder="0" class="form-control" name="creditScore" ngModel required></h4>
          </div>
          
          

          
          <div class="input-field">
            <label>
              <h4>Salaried?</h4>
            </label>
           <br>
            <label class="radio-inline">
            <input type="radio" name="food" [(ngModel)]="bool" [value]="true" ngModel> Yes
            </label>
            <label class="radio-inline">
            <input type="radio" name="food" [(ngModel)]="bool" [value]="false" ngModel> No
            </label>
          </div>
          <br><br>
          <button [disabled]="!IRCForm.valid" class="btn calculate">Calculate</button>
        
        </form>
      

        <div class="output" *ngIf="flag">
          <table>
            <tr>
              <td><h3>Interest Rate:</h3></td>
              <td><h3>{{info.interestRate}} %</h3></td>
             
          </tr>

          <tr>
            <td><h3>EMI:</h3></td>
            <td><h3>{{info.emi}} Rs</h3></td>
             
          </tr>
          </table>
        </div>
      </div>
    </div>




  
</body>
