<body>

<div class="container">
    <div class="calculator-form">
      <h1 class="title">Interest Rate Calculator</h1>
      <form #IRCForm="ngForm" (ngSubmit)="calculate(IRCForm)">
        

        
          
        <div class="input-field">
          <label for="loanAmount"></label>
           <h4>Loan Amount:<input type="number" placeholder="in Rs" class="form-control" id="loanAmount" name="loanAmount" min="100000" max="20000000" required ngModel></h4>
          
          </div>
    
        <div class="input-field">
          <label for="tenureInYears"></label> 
         <h4>Tenure:<input type="number" placeholder="in years" class="form-control" name="tenureInYears"   min="1" max="50" ngModel required ></h4> 
         
        </div>
     


     
          <div class="input-field">
            <label for="creditScore"></label>
             <h4>Credit Score:<input type="number" placeholder="0" class="form-control" name="creditScore" min="300" max="1000" ngModel required></h4>
          </div>
          
          

          
          <div class="input-field">
            <label>
              <h4>Salaried?</h4>
            </label>
           <br>
            <label class="radio-inline">
            <input type="radio" name="food" [(ngModel)]="bool" [value]="true" ngModel> Yes
            </label>
            <label class="radio-inline">
            <input type="radio" name="food" [(ngModel)]="bool" [value]="false" ngModel> No
            </label>
          </div>
          <br><br>
          <button [disabled]="!IRCForm.valid" class="btn calculate">Calculate</button>
        
        </form>
      
<br>
        <div class="output" *ngIf="flag" >
         
            <tr>
              <td><h4>Interest Rate:</h4></td>
              <td><h4>{{info.interestRate}} %</h4></td>
             
          </tr>

          <tr>
            <td><h4>   EMI:</h4></td>
            <td><h4>   {{info.emi}} Rs</h4></td>
             
          </tr>
         
        </div>
      </div>
    </div>




  
</body>
